@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For date picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

.rdp-range_start .rdp-day_button {
  background-color: rgba(255, 187, 0, 0.886) !important;
  color: var(--rdp-range_start-color);
}
.rdp-range_end .rdp-day_button {
  color: var(--rdp-range_start-color);
  background-color: rgba(255, 187, 0, 0.886) !important;
}
.rdp-range_middle .rdp-day_button {
  background-color: rgba(235, 211, 144, 0.333) !important;
  border-radius: 50% !important;
  color: rgb(169, 124, 32) !important;
}
.rdp-selected .rdp-day_button {
  border: rgba(255, 187, 0, 0.886) !important ;
}

.rdp-chevron {
  fill: rgba(255, 187, 0, 0.886) !important;
}
